Django
djangorestframework
django-cors-headers
django-environ
gunicorn
psycopg2-binary
mysqlclient
djangorestframework-simplejwt
djangorestframework-simplejwt[redis]
requests
celery
django-celery-beat
redis